{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 10
    },
    "rules": {
        "indent": ["warn", 4],
        "semi": "error",
        "quotes": ["warn", "double"]
    }
}
